
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg,#8A2387 0%,#E94057 0%,#F27121 100%)

/**/
}
.head{
  color: white;

}
.bg-custom-2 img{
  height: 4rem;
  width: 4rem;
}


button{
    margin-right: 1rem;
}

  .navbar-brand{
    font-weight: bold;
    font-size: 25px;
    color: rgb(29, 28, 28);
    font-family:  sans-serif;
}

.carousel-inner{
  background-color: rgb(175, 80, 80)155, 77, 77;

  margin-top: 1rem !important;
height: 75vh;
padding: 1rem;

}

  .container1{
    margin-top: 5rem;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
     background-repeat:no-repeat;



 }
 .jumbotron img{
   height: 70vh;
   width: 64vh;

 }
 .caption11 h1{
  color: #353333;
}
.sa{
  margin-top: 5rem;
  min-height: 80vh;
  background: rgb(248, 248, 248);
}
/*
.jumbotron h1, .jumbotron h6, .jumbotron a{
  padding-left: 15rem;
}
  .jumbotron h1{

    font-weight: 500;
}
*/
 .card img{
    height: 5rem;
    width: 5rem;
 }

.row {
     padding: .5rem;
     border: 0;
    height: 5%;
    background-color: rgb(255, 255, 255);
   }

  .card-text {
    display: block;
    font-weight: bold;
    margin-left: 8rem;
    font-size: 20px;
    color: black;
    margin-top: -53px;
  }

  .card-text1 {
    display: block;
      font-size: 13px;
    color: black;
   }


  .card1{
      background: rgb(255, 255, 255);
      margin-top: -40px;
      border-radius: 8px;
  }
  body{
      background: rgb(245, 245, 245);
  }
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
   }

  footer p {
    margin-bottom: .25rem;
    align-items: center;
    color: #000;
  }
  .footer a{
    color:whitesmoke ;
  }
  .asasa{
      background: rgb(112, 59, 59);
  }


  .side{
       text-align: center;
       padding-left: 100px;
     }
  .side h4{
      font-weight: 500px;
      margin-top: 5rem;

  }
  .side h5 {
font-weight: bold;
text-align: left;
font-size: medium;
margin-top: 2rem;
  }

.aa{
    margin-top: -45px;
    border-radius: 5px;
     }
.text-muted{
    margin-top: 3rem;
}

/* HOME PAGE */
.row .card{
    margin-bottom: 10px;
    margin-right: 0;
}

.genre{
  background-color:black;
 }

 .card-deck img{
   float: center;
   margin-top: 10px;
   width: 10rem;
   height:   10rem;

  }

  .card-header {
    color: whitesmoke;
  }

 .nav-item{
   color: aliceblue;
   font-size: medium;
 }

 .navbar-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index:20;
}

.card-deck img:hover{
   width: 12rem;
   height:   12rem;
}

.bg-custom-2 .nav-item:hover{
  border-bottom: 3px solid rgb(124, 42, 42);
 }

 .bg-custom-2 .nav-item:active{
  border-bottom: 3px solid rgb(0, 0, 0);
 }

  hr{
   height: 15px;
 }

 .carousel-size{
   width: 100%;
 }

 .sa  .container{

  background-color: rgb(255, 255, 255);
border-radius: 16px;
 }
 .sa h1{
   font-size: 4vw;
 }
 .border-0 img{
   height:8rem ;
   width:8rem ;
  display: flex;
  margin-left: 3rem;
 }

 .scroll-top{
   background-color: rgb(66, 66, 66,.1);
   position: fixed;
   bottom: 25%;
    border-radius: 30px;
    right: 50px;
    color: linear-gradient(15deg,#8A2387 0%,#E94057 0%,#F27121 100%)  ;
 }
 .scroll-top i{
   font-size: 40px;
   color: #E94057  ;
   }

/* creators */

.creators-jumbo  {
   background-repeat: no-repeat;
  width: 100%;
   position: relative;
  justify-content: center;
  display: flex;
 height: 85vh;
}
.creators-jumbo img{
      background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
     display: flex;
}
.text-block{
  position: absolute;
  font-size: 5rem;
  bottom: 18rem;
   background-color: rgb(184, 96, 96).3;
  color: white;
   z-index: 1;
   justify-content: center;
   display: flex;
}

.color-overlay{
  position: absolute;
  background-color: #0a0000;
  opacity: .5;
  min-height: 85vh;
  width: 100%;

 }
  header{
   height: 100vh;
   overflow: hidden;
   z-index: 1 ;
 }
  .content{
    padding-top:6rem;
    color: whitesmoke;
  }
  .content h1{
    font-size: 4vw;

  }
  .btn-learnmore{
    background-color: white;
    border-radius: 50px;
    color: tomato;

   }
   .content img{
    height: 40vh;
    width: 54vh;
    animation: move 2s 400;
    position: relative;
   }
   .navbar-default{
    transition:  705s ease;
     background-image:transparent !important;
   }
  .navbar-default.scrolled{
    background-image:linear-gradient(15deg,#8A2387 0%,#E94057 0%,#F27121 100%);
   }
   @keyframes move{
     0%{top:0px;}
     50%{top:20px;}
     100%{top:0px;}
   }
